@import "tailwindcss";


:root{
  --primary-color: #1e40af;
  --secondary-color: #9333ea;
  scroll-behavior: smooth;
}

html{
  font-family: Montserrat, sans-serif;
}

.bg-primary{
  background-color: var(--primary-color);
}

.bg-home{
  background-image: url(/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-process{
  background: linear-gradient(179.72deg, #4A0202 0.24%, #7D0303 90.81%);

}

.bg-form{
  background-image: url(/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-logo{
  background-image: url(/logoaut3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

@keyframes silde-out {
  from{
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes silde-in {
  from{
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


::view-transition-old(page){
  opacity: 1;
  animation: silde-out 0.5s ease-in-out forwards;
}
::view-transition-new(page){
  opacity: 0;
  animation: silde-in 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}