@import "tailwindcss";


:root{
  --primary-color: #1e40af;
  --secondary-color: #9333ea;
  scroll-behavior: smooth;
}

html{
  font-family: Montserrat, sans-serif;
}

.bg-primary{
  background-color: var(--primary-color);
}

.bg-home{
  background-image: url(/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-process{
  background: linear-gradient(179.72deg, #4A0202 0.24%, #7D0303 90.81%);

}

.bg-form{
  background-image: url(/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

